  <footer>
    <div class="footer-content">
      <h2>Get in touch</h2>
      <a href="https://www.linkedin.com/in/anna-kozhevnikova/" target="_blank">LinkedIn</a>
      <a id="emailCopy">
        <span class="tooltiptext" id="tooltip"></span>
        Email me
      </a>
    </div>
  </footer>
</div>
  <script>
    window.addEventListener("load", function() {
        let getPage = window.location.pathname;
        let portfolioLink = document.querySelectorAll('a')[1];
        let blogLink = document.querySelectorAll('a')[2];

        if(getPage === "/") {
                portfolioLink.classList.add("selected");
                blogLink.classList.remove("selected");
        } else {
                blogLink.classList.add("selected");
                portfolioLink.classList.remove("selected");
        }
    })
    
    document.getElementById('emailCopy').addEventListener('click', async () => {
      let popupVisible = false;
      let tooltip = document.getElementById("tooltip");
        tooltip.classList.add('show');
        popupVisible = true;
        navigator.clipboard.writeText('hi@annakozh.com ');
        tooltip.innerText = "Email copied to clipboard.";

      setTimeout(
        function () {
          tooltip.classList.remove('show');
          popupVisible = false;
        }, 3000)
  });
  </script>
</body>
</html>