<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#F11CDC" />
    <title>Anna Kozh - {{page.title}}</title>
    <meta name="description" content="Senior Product Designer and Storyteller, with over 10 years of experience with large multi-product SaaS platforms." />
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/Inter-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.baseurl}}/assets/fonts/Inter-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" sizes="152x152" type="image/png" href="{{site.baseurl}}/assets/images/favicon152x152.png">
    <link rel="icon" sizes="32x32" type="image/png" href="{{site.baseurl}}/assets/images/favicon32x32.png">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
{% include google.html %}
<body>
    <div id="scroll-up-parent">
        <a id="scroll-up-link" href="#">
            <div id="scroll-up"></div>
        </a>
    </div>
    <div id="container">
    <div class="navbar">
        <div class="nav">
            <li class="nav-item logo">
                <a aria-current="page" href="/">
                    <img src="{{site.baseurl}}/assets/images/logo.svg" alt="Anna kozh logo">
                </a>
            </li>
            <menu class="nav_links">
                <li class="nav-item">
                    <a aria-current="page" href="{{site.baseurl}}/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" href="{{site.baseurl}}/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" href="{{site.baseurl}}/about">About</a>
                </li>
                <!-- <li class="nav-item icon download">
                    <a class="resume-placeholder " href="" alt="Download resume">
                        R&#233sum&#233</a>
                </li> -->
            </menu>
        </div>
    </div>
    