<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anna Kozh - {{page.title}}</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.jpg">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <script src="{{site.baseurl}}/assets/js/calculate_reading_time.js"></script>

    <!-- Hotjar Tracking Code for Site 3908995 (name missing) -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3908995,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WJJCJPXX0M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WJJCJPXX0M');
</script>
    
<body>
    <nav class="navbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <img class="logo" src="{{site.baseurl}}/assets/images/favicon.jpg" alt="" srcset="">
                <a aria-current="page" href="/">Anna Kozh</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/">Portfolio</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/blog.html">Blog</a>
            </li>
            <li class="nav-item icon download"
                style="background: url({{site.baseurl}}/assets/images/cloud-arrow-down-solid.svg) no-repeat;">
                <a class="resume-placeholder " href="">
                    R&#233sum&#233</a>
            </li>
        </ul>
    </nav>
    
    <script>
        window.addEventListener("load", function() {
            let getPage = window.location.pathname;
            let portfolioLink = document.querySelectorAll('a')[1];
            let blogLink = document.querySelectorAll('a')[2];
  
            if(getPage === "/") {
                    portfolioLink.classList.add("selected");
                    blogLink.classList.remove("selected");
            } else {
                    blogLink.classList.add("selected");
                    portfolioLink.classList.remove("selected");
            }
        })
    </script>
