<figure>
  <img class ="thumbnail" src="{{ include.thumb }}"
       width="{{ include.thumb_width | default: '780' }}"
       alt="{{ include.alt | default: '' }}"
       id="{{ include.id }}-thumb"
       style="cursor: zoom-in;">

  {% if include.caption %}
    <figcaption>
      {{ include.caption }}
      {% if include.link %}
        <a href="{{ include.link }}" target="_blank">Figma link</a>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>

<!-- Lightbox Overlay -->
<div id="{{ include.id }}-lightbox" class="lightbox" style="display:none;">
  <span class="lightbox-close material-symbols-outlined" id="{{ include.id }}-close">close</span>
  <img class ="lightbox-img" src="{{ include.full }}" alt="{{ include.alt | default: '' }}">
</div>


