@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.ttf");
  font-weight: 900;
}

:root {
  --primary-color: #F11CDC;
  --secondary-color: #EEEEEE;
  --primary-text-color: #383D3B;
  --secondary-text-color: #7B7B7B;
  --scroll-track: #00000016;
  --white: #fff;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --primary-font: "Inter";
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--white);
  background: url(../images/pattern.png) repeat;
  font-family: system-ui;
  color: var(--primary-text-color);
  background-size: 22rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text-color);
}

h1, h2, h3, h5 {
  font-family: var(--primary-font), sans-serif;
  margin: 2rem 0;
  font-weight: 900;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
  border-left: 2px solid var(--primary-color);
  padding-left: 2rem;
}

p {
  all: unset;
  margin: 0;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2rem;
}

strong {
  font-weight: 900;
}

.primary {
  background-color: var(--white);
  color: #fff;
}

.small {
  font-size: .5rem;
}

#singlePost {
  max-width: 780px;
  text-align: left;
  align-self: center;
  margin: 0 24px;
}

#singlePost p {
  text-align: left;
}

.post .post-stats {
  margin-top: 1rem;
}

.post-stats {
  display: flex;
  gap: .6rem;
  justify-content: left;
  align-items: center;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  max-width: 1312px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.nav-item:first-of-type a {
  border-bottom: 1px solid transparent;
}

.nav-item {
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: auto;
  gap: .5rem;
}

a,
a:visited {
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.selected {
  color: var(--primary-color) !important;
}

.logo {
  border-radius: 50%;
  height: 2rem;
  color: var(--primary-color);
}

#content {
  display: flex;
  justify-content: center;
}

.post_type {
  border-radius: 13px;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  padding: .25rem .5rem !important;
  width: max-content;
  text-transform: none;
}

.clients {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin: 0 auto;
  justify-content: center;
}

.clients img {
  width: 50px;
}

#postForm {
  margin: 0 auto 30px;
}

#postForm>* {
  width: -webkit-fill-available;
  text-align: left;
  margin: 0;
}

input,
textarea {
  width: 100% !important;
  margin-top: 2rem;
  border: 1px solid transparent !important;
  border-bottom: 1px solid var(--primary-color) !important;
  border-radius: 0 !important;
}

:focus-visible,
:focus {
  box-shadow: none !important;
  outline-color: var(--primary-color) !important;
}

.loader-bar {
  width: 0;
  height: 5px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.post {
  max-width: 780px;
  border: 1px solid #ccc;
  padding: .6rem 24px;
  margin-bottom: 30px;
}

.resume-placeholder {
  margin-left: 1rem;
}

img {
  height: 100%;
  object-fit: cover;
}

video {
  pointer-events: none;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.img_centre {
  width: 50%;
  margin: 0 auto;
}

.extraTopBottomPadding {
  padding: 80px 0 !important;
}

span {
  display: block;
}

#back_image h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.7rem;
  color: #000;
  background: #CDE79980;
  padding: 15px;
}

.block {
  max-width: 780px;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 50vh;
  position: relative;
  margin: 0 24px;
}

.block img {
  width: 100%;
}

.block span {
  text-align: justify;
  display: block;
}

#post-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

#post-container .post {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  border: none;
  align-items: center;
}

#post-container .post::before {
  display: none;
}

#post-container .post-content {
  flex: 1;
}

#post-container .post-content span {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#post-container .post-content .info {
  padding: 1rem 0;
}

#post-container .post-image img {
  max-width: 100%;
  width: 20vw;
  object-fit: contain;
}

/* Show images for even posts and adjust order */
#post-container .post:nth-child(even) .post-content {
  order: 2;
}

#post-container .post:nth-child(even) .post-image {
  order: 1;
  margin-right: 20px;
}

/* Show images for odd posts and adjust order */
#post-container .post:nth-child(odd) .post-content {
  order: 1;
}

/* Hide image for even posts if there's no image */
#post-container .post:nth-child(even):not(:has(.post-image)) .post-image {
  display: none;
}

/* Hide image for odd posts if there's no image */
#post-container .post:nth-child(odd):not(:has(.post-image)) .post-image {
  display: none;
}

/* Ensure text takes full width if there's no image */
#post-container .post:not(:has(.post-image)) .post-content {
  flex: 1;
}

.promoted {
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
  background: var(--scroll-track);
}

.experienceBlock {
  display: block;
  margin-bottom: 4rem;
  text-align: left;
  align-self: center;
}

#pastExperiences {
  max-width: 679px;
  margin: 0 24px;
  width: 100%;
}

.xpLogo {
  height: fit-content;
  object-fit: contain;
  width: 10rem;
  /* filter: grayscale(0) contrast(1) saturate(0); */
}

.xpLink {
  list-style: none;
  padding: 0;
}

.xpLink li {
  background: url(../images/file-lines-solid.svg) no-repeat;
  position: relative;
  margin-bottom: 0.8rem;
}

.xpLink li a {
  margin-left: 1.5rem;
}

.xpLogo, p.xpText, .xpLink li {
  margin-bottom: 0.6rem !important;
}

.xpLink li {
  margin-bottom: 1rem !important;
}

footer {
  position: static;
  display: flex;
  background: #fff;
  border-top: 1px solid #E4E4E4;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: min-content;
  width: 100%;
  max-width: 1312px;
}

.footer-content a {
  width: min-content;
}

.tooltip {
  position: relative;
  display: inline-block;
}

#tooltip {
  display: none;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: 100%;
  transform: translateX(-50%);
}

#tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 0.6rem solid transparent;
  border-top: 0.6rem solid #555;
  display: block;
  position: absolute;
  margin-top: 25px;
  left: 5px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 729px) {
  .nav, .footer-content {
    padding: 32px 48px 24px 48px;
  }
}

@media only screen and (max-width: 728px) and (min-width: 531px) {
  .nav, .footer-content {
    padding: 32px 24px 24px 24px;
  }
}
@media only screen and (max-width: 530px) and (min-width: 336px){
  .nav {
    flex-direction: column !important;
    padding: 32px 24px 24px;
    gap: 32px;
  }
  .footer-content {
    padding: 32px 24px 24px;
  }
}

@media only screen and (max-width: 335px) {
  .nav {
    flex-direction: column !important;
    padding: 32px 24px 24px;
    justify-content: space-evenly;
    gap: 32px;
  }
  .footer-content {
    padding: 32px 24px 24px;
  }
}